<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WEB02</display-name>
<filter>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.yuantu.web.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MgFilter</filter-name>
    <filter-class>com.yuantu.web.filter.MgFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MgFilter</filter-name>
    <url-pattern>/MgHead</url-pattern>
    <url-pattern>/MgLeft</url-pattern>
    <url-pattern>/MgShow</url-pattern>
    <url-pattern>/MgQuery</url-pattern>
    <url-pattern>/MgDelete</url-pattern>
    <url-pattern>/MgUpdateShow</url-pattern>
    <url-pattern>/MgUpdateServlet</url-pattern>
  </filter-mapping>
  
  <filter>
	<filter-name>struts2</filter-name>
	<filter-class>
		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
	</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>struts2</filter-name>
	  <url-pattern>*.action</url-pattern>
  </filter-mapping> 
  
  <servlet>
    <servlet-name>IN</servlet-name>
    <servlet-class>com.yuantu.web.servlet.user.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IN</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UF</servlet-name>
    <servlet-class>com.yuantu.web.servlet.user.UserForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UF</servlet-name>
    <url-pattern>/userFoward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD</servlet-name>
    <servlet-class>com.yuantu.web.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RS</servlet-name>
    <servlet-class>com.yuantu.web.servlet.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RS</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ML</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.MgLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ML</servlet-name>
    <url-pattern>/MgLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ML</servlet-name>
    <url-pattern>/MgIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MH</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.MgHeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MH</servlet-name>
    <url-pattern>/MgHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MLS</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.MgLeftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MLS</servlet-name>
    <url-pattern>/MgLeft</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ms</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.MgShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ms</servlet-name>
    <url-pattern>/MgShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ms</servlet-name>
    <url-pattern>/MgQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DLs</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DLs</servlet-name>
    <url-pattern>/MgDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USS</servlet-name>
    <servlet-class>com.yuantu.web.servlet.manager.UpdateShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USS</servlet-name>
    <url-pattern>/MgUpdateShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>USS</servlet-name>
    <url-pattern>/MgUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UP</servlet-name>
    <servlet-class>com.yuantu.web.servlet.user.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UP</servlet-name>
    <url-pattern>/UpdatePwd</url-pattern>
  </servlet-mapping>
  
   

  
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <welcome-file-list>
  	<welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
</web-app>